<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <title>Admin</title>
</head>

<body>
    <h1>Welcome
        <%= username %>
    </h1>
    <p>Admin Page</p>
    <div>
        <form id="logOutForm" method="POST" action="/">
            <input type="submit" value="Log out" formaction="/logOut?_method=DELETE" form="logOutForm">
        </form>
        <form id="registerForm" method="GET" action="/">
            <input type="submit" value="Register new user" formaction="/register" form="registerForm">
        </form>
        <form id="assignForm" method="GET" action="/">
            <input type="submit" value="Assign rota or holiday" formaction="/assign" form="assignForm">
        </form>
		<div>
			<br>
			<%=info%>
			<br>
		</div>
        <div id=pending_requests>
            <h1>Pending shift/holiday requests:</h1>
            <ul>
                <% for(var i = 0; i< requests.length; i++) { %>
                    <li>
                        Request ID: 
                        <%=JSON.stringify(requests[i].requestId).replace(/["]+/g,"")%>
                            <br> Type:
                            <%=JSON.stringify(requests[i].type).replace(/["]+/g,"")%> request
                                <br> Requested by:
                                <%=JSON.stringify(requests[i].firstName).replace(/["]+/g,"")%>
                                    <%=JSON.stringify(requests[i].surname).replace(/["]+/g,"")%> (
                                        <%=JSON.stringify(requests[i].username).replace(/["]+/g,"")%>)
                                            <br> Date/time Submitted:
                                            <%=JSON.stringify(requests[i].dateTimeSubmitted).replace(/["]+/g,"")%>
                                                <br> Start date/time:
                                                <%=JSON.stringify(requests[i].dateStart).replace(/["]+/g,"")%> -
                                                    <%=JSON.stringify(requests[i].timeStart).replace(/["]+/g,"")%>
                                                        <br> End date/time:
                                                        <%=JSON.stringify(requests[i].dateEnd).replace(/["]+/g,"")%> -
                                                            <%=JSON.stringify(requests[i].timeEnd).replace(/["]+/g,"")%>
                                                                <form id="acceptOrRejectForm" method="POST" action="/">
                                                                    <input type="submit" value="Accept" formaction="/acceptRequest/?requestId=<%=JSON.stringify(requests[i].requestId).replace(/[" ]+/g, "")%>" form="acceptOrRejectForm">
                                                                    <input type="submit" value="Reject" formaction="/rejectRequest/?requestId=<%=JSON.stringify(requests[i].requestId).replace(/[" ]+/g, "")%>" form="acceptOrRejectForm">
                                                                </form>
                    </li>
                    <br>
                    <% } %>
            </ul>
        </div>
		<br>
			<h1>Upcoming Shifts:</h1>
			<ul>
				<%for(var i = 0; i < shifts.length; i++) {%>
					<li> Shift Id: #<%=JSON.stringify(shifts[i].taskId).replace(/["]+/g,"")%>
						<br>
						Start date/time: <%=JSON.stringify(shifts[i].dateStart).replace(/["]+/g,"")%> - <%=JSON.stringify(shifts[i].timeStart).replace(/["]+/g,"")%>
						<br>
						End date/time: <%=JSON.stringify(shifts[i].dateEnd).replace(/["]+/g,"")%> - <%=JSON.stringify(shifts[i].timeEnd).replace(/["]+/g,"")%>
						<br>
						Employee: Employee #<%=JSON.stringify(shifts[i].employeeId).replace(/["]+/g,"")%> - <%=JSON.stringify(shifts[i].firstName).replace(/["]+/g,"")%> <%=JSON.stringify(shifts[i].surname).replace(/["]+/g,"")%> (<%=JSON.stringify(shifts[i].username).replace(/["]+/g,"")%>)
						<br>
						<form id="cancelShiftForm" method="POST" action="/">
							<input type="submit" value="Cancel Shift #<%=JSON.stringify(shifts[i].taskId).replace(/["]+/g,"")%>" formaction="/cancelTask/?taskId=<%=JSON.stringify(shifts[i].taskId).replace(/["]+/g,"")%>" form="cancelShiftForm">
						</form>
					</li>
				<%}%>
			</ul>
		
		
		
			<h1>Upcoming Holidays:</h1>
			<ul>
				<%for(var i = 0; i < holidays.length; i++) {%>
					<li> Holiday Id: #<%=JSON.stringify(holidays[i].taskId).replace(/["]+/g,"")%>
						<br>
						Start date/time: <%=JSON.stringify(holidays[i].dateStart).replace(/["]+/g,"")%> - <%=JSON.stringify(holidays[i].timeStart).replace(/["]+/g,"")%>
						<br>
						End date/time: <%=JSON.stringify(holidays[i].dateEnd).replace(/["]+/g,"")%> - <%=JSON.stringify(holidays[i].timeEnd).replace(/["]+/g,"")%>
						<br>
						Employee: Employee #<%=JSON.stringify(holidays[i].employeeId).replace(/["]+/g,"")%> - <%=JSON.stringify(holidays[i].firstName).replace(/["]+/g,"")%> <%=JSON.stringify(holidays[i].surname).replace(/["]+/g,"")%> (<%=JSON.stringify(holidays[i].username).replace(/["]+/g,"")%>)
						<br>
						<form id="cancelHolidayForm" method="POST" action="/">
							<input type="submit" value="Cancel Holiday #<%=JSON.stringify(holidays[i].taskId).replace(/["]+/g,"")%>" formaction="/cancelTask/?taskId=<%=JSON.stringify(holidays[i].taskId).replace(/["]+/g,"")%>" form="cancelHolidayForm">
						</form>
					</li>
				<%}%>
			</ul>
		
       
		<div id=message_inbox>
            <h1>Latest messages:</h1>
            <ul>
                <% for(var i = 0; i< 10; i++) { 
					if(messages[i]) {
					var senderObj = JSON.parse(messages[i].sender)%>
                    <li>
                        From:
						<% if(senderObj.username === userObj.username) {
							%>
						System
						<%} else 
						{%>
                        <%=JSON.stringify(senderObj.firstName).replace(/["]+/g,"")%>
                            <%=JSON.stringify(senderObj.surname).replace(/["]+/g,"")%> -
                                <%=JSON.stringify(senderObj.username).replace(/["]+/g,"")%>
						<%}%>
                                    <br>
                                    <%=JSON.stringify(messages[i].body).replace(/["]+/g,"")%> -
                                        <%=JSON.stringify(messages[i].dateTimeSubmitted).replace(/["]+/g,"")%>
                    </li>
                    <br>
                    <% 
					}} %>
            </ul>
        </div>
		
    </div>
   
</body>

</html>