<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Ordinatio</title>
	</head>
	<body>
		<div>
			<h1>Ordinatio Rota Request Page</h1>
            <form id="requestForm" method="POST" action="/request">
                <!-- Start and end dates for rota or holiday -->
                <label for="startDate">Start date:</label>
                <input type="date" name="startDate" required>
				<label for="startTime">Start Time:</label>
				<input type="time" name="startTime">
                <label for="endDate">End date:</label>
                <input type="date" name="endDate" required>
				<label for="endTime">End Time:</label>
				<input type="time" name="endTime">

                <br>

                <!-- Rota or holiday choice -->
                <label for="type">Rota or Shift Request:</label>
				<select name="type" required>
					<option value="Holiday">Holiday</option>
					<option value="Shift" selected>Shift</option>
                </select>
                
				<input type="submit" value="Request">
            </form>
            
			<form id="linksForm" method="GET" action="/main">
				<input type="submit" value="Go back" formaction="/main" form="linksForm">
            </form>
			<div>
			<h1> Your current requests: </h1>
			<ul>	
				<% for(var i = 0; i<requests.length; i++) {%>
				<li>
					Request id: <%=JSON.stringify(requests[i].requestId).replace(/["]+/g,"") %>
					<br>
					Type: <%=JSON.stringify(requests[i].type).replace(/["]+/g,"") %> request
					<br> 
					Date/time Submitted: <%=JSON.stringify(requests[i].dateTimeSubmitted).replace(/["]+/g,"")%> 
					<br>
					Start date/time: <%=JSON.stringify(requests[i].dateTimeStart).replace(/["]+/g,"")%> 
					<br>
					End date/time: <%=JSON.stringify(requests[i].dateTimeEnd).replace(/["]+/g,"")%>
					<br>
					<br>
				</li>
				<% } %>
			</ul>
			</div>
  
            <h1><%= info %></h1>
		</div>
	</body>
</html>