<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles/style.css"/>
		<title>Ordinatio</title>
	</head>
	<body>
		<div>
			<h1>Ordinatio Rota Request Page</h1>
            <form id="requestForm" method="POST" action="/request">
                <!-- Start and end dates for rota or holiday -->
                <label for="dateStart">Start date:</label>
                <input type="date" name="dateStart" required>
				<label for="timeStart">Start Time:</label>
				<input type="time" name="timeStart">
                <label for="dateEnd">End date:</label>
                <input type="date" name="dateEnd" required>
				<label for="timeEnd">End Time:</label>
				<input type="time" name="timeEnd">

                <br>

                <!-- Rota or holiday choice -->
                <label for="type">Rota or Shift Request:</label>
				<select name="type" required>
					<option value="holiday">Holiday request</option>
					<option value="shift" selected>Shift request</option>
                </select>
                
				<input type="submit" value="Request">
            </form>
            
			<form id="linksForm" method="GET" action="/main">
				<input type="submit" value="Go back" formaction="/main" form="linksForm">
            </form>
			<div>
			<h1> Your pending requests: </h1>
			<ul>	
				<% for(var i = 0; i<requests.length; i++) {%>
				<li>
					Request id: <%=JSON.stringify(requests[i].requestId).replace(/["]+/g,"") %>
					<br>
					Type: <%=JSON.stringify(requests[i].type).replace(/["]+/g,"") %> request
					<br> 
					Date/time Submitted: <%=JSON.stringify(requests[i].dateTimeSubmitted).replace(/["]+/g,"")%> 
					<br>
					Start date/time: <%=JSON.stringify(requests[i].dateStart).replace(/["]+/g,"")%> - <%=JSON.stringify(requests[i].timeStart).replace(/["]+/g,"")%> 
					<br>
					End date/time: <%=JSON.stringify(requests[i].dateEnd).replace(/["]+/g,"")%> - <%=JSON.stringify(requests[i].timeEnd).replace(/["]+/g,"")%> 
					<br>
					<form id="cancelForm" method="POST" action="/">
						<input type="submit" value="Cancel" formaction="/rejectRequest/?requestId=<%=JSON.stringify(requests[i].requestId).replace(/["]+/g,"")%>" form="cancelForm">
					</form>
					
				</li>
				<br>
				<% } %>
			</ul>
			</div>
  
            <h1><%= JSON.stringify(info).replace(/["]+/g,"") %></h1>
		</div>
	</body>
</html>